@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
body{
    padding:0;
    margin: 0;
    
    font-family: 'Raleway', sans-serif;

}


.title-description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.features{
    padding-bottom: 200px;
    margin-top: 150px;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.features-items{
    padding-top:70px;
}

.features-items a{
    color: hsl(170, 45%, 43%);
    
}
.newsletter{
    background-color: hsl(238, 22%, 44%);
}
.newsletter-items{
    padding-top:50px;
    padding-bottom: 50px;
}
.newsletter-items input{
    padding: 5px 80px
}